body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;  /* Centreert het formulier horizontaal */
    align-items: flex-start;  /* Zorgt ervoor dat het formulier hoger op de pagina staat */
    height: 100vh;
}

.login-container {
    margin-top: 150px;  /* Zorgt ervoor dat het formulier meer naar boven staat */
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333333;
    font-size: 28px;
    font-weight: bold;
}

h2 {
    color: #555555;
    font-size: 18px;
    margin-bottom: 30px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333333;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    font-size: 14px;
    color: #333333;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
}

/* Login knop */
button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Foutmelding styling */
#message {
    margin-top: 15px;
    color: #000000;
    font-weight: bold;
}
